* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  font-family: __Jost_da8e93, __Jost_Fallback_da8e93;

  /* padding: 0rem 7rem 0rem 7rem; */
}

input {
  flex-direction: column;

  width: 100%;
  border-radius: 0.5rem;
  color: red;
  background-color: rgb(35, 35, 35);
  height: 3rem;
  border: #fff;
  padding-left: 1rem;
  color: #fff;
}
section {
  display: block;
}
.grid {
  display: grid;
}
.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

:root {
  --primery-color: rgb(214, 150, 103);
  --main-text-color: #fff;
  --toastify-color-dark: #121212;
  --black-color: #000;
  --btn-bg-color: rgb(111, 61, 46);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-size: 2rem;
  text-align: right;
  line-height: 3rem;
}

li {
  list-style: none;
  text-decoration: none;
  list-style-type: none;
}
a {
  color: #fff;
}
p {
  color: #fff;
  /* word-spacing: 0.2rem; */
  /* letter-spacing: 0.1rem; */
  /* line-height: 1.5rem; */
  /* text-align: justify; */
  /* margin-bottom: 2.5rem; */
}
.space-text {
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  padding-bottom: 1rem;
}
.color-primery {
  color: var(--primery-color);
}

/* .section-nabvar {
  width: auto;
  height: 6rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: #fff;
  position: -webkit-sticky;  Safari
  position: sticky;
  top: 0;
  z-index: 100;

  & .container {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin-left: 6rem;
    & .logo-left-text {
      font-size: 1rem;
      margin-left: 1rem;
      flex-direction: column;

      align-self: center;
    }

    & img {
       height: 40%; 
      width: 100%;
      margin-top: 1.4rem;
      margin-left: 0.2rem;
      flex-direction: column;

      align-self: center;
    }
  }

  & .nabvar {
    display: flex;
    margin-right: 3rem;
    & li {
      text-decoration: none;
      text-transform: capitalize;
      font-family: "Urbanist", sans-serif;
      gap: 0.1rem;
      
    }
  }
}
.section-nabvar .nabvar ul {
  display: flex;
  justify-content: center;

  align-items: center;
  padding: 2.5rem 3rem;
  text-transform: uppercase;
 

  & li a {
    font-weight: 500;
    font-size: 1rem;
    display: inline-block;
    position: relative;
    list-style: none;
    text-decoration: none;
    color: var(--main-text-color);
    margin-right: 1.5rem;
  
  }
} */
.section-nabvar {
  width: auto;
  /* height: 6rem; */
  background-color: black;
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 7rem 0rem 7rem;
    /* gap: 10rem; */

    & .content-1 {
      width: 10%;

      display: flex;

      padding: 1.5rem 0rem 1.5rem 0rem;
      & .content-navbar1 {
        width: 70%;
      }
    }
    & .content-2 {
      margin-top: 2rem;

      & .nabvar ul {
        display: flex;
        gap: 2rem;
        text-align: center;
        align-items: center;
        margin-bottom: 1.5rem;
        & li a {
          text-decoration: none;
          text-transform: capitalize;
        }
      }
    }
  }
}
/* ends nabvar section */

/* stats see your work section */

.section-see-your-work {
  background-color: rgb(43, 43, 43);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0rem 4rem 0rem;

  & .grid-two--cols {
    /* max-width: 100rem; */
    gap: 3rem;
    padding: 0rem 7rem 0rem 7rem;
  }
  & .container {
    color: var(--main-text-color);
    & h1 {
      font-size: 2.2rem;
      letter-spacing: 0.2rem;
      line-height: 3rem;
      padding-bottom: 2.5rem;
      text-align: left;
    }
    & p {
      word-spacing: 0.2rem;
      letter-spacing: 0.1rem;
      line-height: 1.5rem;
      text-align: justify;
      margin-bottom: 2.5rem;
    }
    & .btn {
      display: flex;
      font-size: 1rem;

      & .btn1 {
        width: 10rem;
        height: 3rem;
        background-color: var(--btn-bg-color);
        margin-right: 1rem;
        gap: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-transform: capitalize;
        border-radius: 0.3rem;
        position: relative;
      }
      & .btn2 {
        width: 10rem;
        height: 3rem;
        background-color: transparent;
        margin-right: 2rem;
        gap: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 0.3rem;
        text-transform: capitalize;
      }
    }
    .img {
      margin-left: 10rem;
      border-radius: 50%;
    }
    /* box-shadow: rgb(111, 61, 46) 0rem 0rem 0px 0.1rem; */
    & .hero-img {
      border-radius: 999.9rem;
      width: 17rem;
      background: transparent;
      box-shadow: rgb(111, 61, 46) 0rem 0rem 0px 1rem;
    }
    & .keep-scrolling {
      padding-top: 10rem;
    }
    & .nabvar-social {
      padding-top: 9rem;
      & ul {
        display: flex;
        gap: 1rem;
        list-style: none;
        text-decoration: none;
        list-style: none;
        text-decoration: none;
        list-style-type: none;
        & li a {
          text-decoration: none;
          color: var(--primery-color);
          list-style: none;
        }
      }
    }
  }
}

.section-see-your-work .btn .btn1:hover {
  background-color: var(--primery-color);
}
.section-see-your-work .btn .btn2:hover {
  background-color: var(--primery-color);
}

/* ends see your work section */

/* start section about */

.section-about {
  /* max-width: 85rem; */
  /* max-height: 33rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  /* margin-bottom: 10rem; */
  & .container {
    gap: 5rem;
    display: flex;
    padding: 5rem 7rem 0rem 7rem;

    & .content-1 {
      margin-top: 7rem;
      /* width: 40rem; */
      width: 50%;
      & .section-subheading {
        font-size: 1.7rem;
        line-height: 2.7rem;
        padding-bottom: 3rem;
        /* text-align: justify; */
      }
      & .section-para {
        font-size: 1.2rem;
        line-height: 3rem;
      }
    }
    & .content-2 {
      margin-top: 17rem;
      width: 26rem;
      & .about-img1 {
        width: 40%;
        margin-left: 6rem;
        margin-bottom: -2rem;
      }
      & .about-img2 {
        margin-left: 9rem;
        width: 60%;
        color: var(--btn-bg-color);
        border-radius: 20%;
      }
    }
  }
}
/* ends section about */

/* start section services */
.section-services {
  background-color: rgb(43, 43, 43);

  & .container {
    gap: 5rem;
    display: flex;
    padding: 5rem 7rem 0rem 7rem;
    position: relative;
    ::before {
      content: url(expertices.png);
      position: absolute;
      content: url(expertices.png);
      background-size: contain;
      transform: scale(0.18);
      position: absolute;
      inset: 28% 0% -80% -33%;
      opacity: 0.1;
      /* margin-bottom: 15rem; */
      margin-bottom: 30rem;
    }
    & .content-1 {
      width: 50%;
      padding-top: 10rem;
      gap: 2rem;
      & h1 {
        text-align: left;
      }
      & p {
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.1rem;
      }
    }
    & .content-2 {
      padding-top: 10rem;
      width: 50%;
    }
  }
  & .section-about-nabvar {
    color: #fff;
    padding: 5rem 7rem 0rem 7rem;
    position: relative;
    ::before {
      content: url(expertices.png);
      position: absolute;
      content: url(expertices.png);
      background-size: contain;
      transform: scale(0.18);
      position: absolute;
      inset: 28% 0% -80% -33%;
      opacity: 0.1;
      margin-bottom: 20rem;
    }

    & ul {
      display: flex;
      gap: 3rem;
      font-size: 1.1rem;
    }
  }
}

/* edns section services */

/* start section-services-counter sections */

.section-services-counter {
  background-color: rgb(43, 43, 43);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5rem 7rem 5rem 7rem;

  & .container {
    max-width: 70rem;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem 0rem 0rem 5rem;
    border-radius: 1rem;
    box-shadow: rgb(214, 150, 103) 2rem -2rem 1rem -2rem;
    /* margin-bottom: 10rem; */

    background-color: #212122;
    padding-top: 4rem;
    position: relative;
    ::before {
      content: url(expertices.png);
      position: absolute;
      content: url(expertices.png);
      background-size: contain;
      transform: scale(0.25);
      position: absolute;
      inset: 28% 0% -80% -33%;
      opacity: 0.1;
      margin-bottom: 15rem;
      margin-right: 7rem;
    }

    /* margin-bottom: 20rem; */
    & .space-text {
      text-align: left;
    }
    & p {
      font-size: 2.5rem;
      text-align: left;
      padding-bottom: 7rem;
    }
    & .section-servises-nabvar {
      & ul {
        display: flex;
        gap: 18rem;
        font-size: 1.2rem;
        color: #fff;
        padding-bottom: 7rem;
      }
    }
  }
}

/* ends section-services-counter sections */

/* start section learn */

.section-learn {
  /* height: 140vh; */
  background-color: rgb(43, 43, 43);
  padding-bottom: 3rem;

  & .container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
      url(./ytshowcase.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(0.9);
    /* height: 100vh; */
    margin-bottom: 5.8rem;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem 0rem 4rem;

    gap: 7rem;
    & .content-1 {
      gap: 1rem;
      width: 56%;
      /* margin-top: 30rem; */
      margin-left: 1rem;
      & h1 {
        text-align: left;
        font-size: 2.5rem;
        margin-bottom: 3rem;
      }
      & p {
        font-size: 1.2rem;
        word-spacing: 0.25rem;
        margin-bottom: 4;
        padding-bottom: 4rem;
      }
      .btn {
        width: 12rem;
        height: 3rem;
        background-color: green;
        margin-right: 1rem;
        gap: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-transform: capitalize;
        border-radius: 0.3rem;
        & a {
          text-decoration: none;
          font-size: 1rem;
        }
      }
    }
    & .content-2 {
      gap: 1rem;
      & img {
        width: 75%;
        padding-left: 6rem;
        /* margin-top: 30rem; */
      }
    }
  }
}

/* start yt playlist section */

.section-yt-playlist {
  background-color: rgb(35, 35, 35);
  padding: 4rem 7rem 0rem 7rem;
  /* height: 80vh; */
  & .yt-play {
    width: 10rem;
    height: 2.5rem;
    background-color: rgb(111, 61, 46);
    align-items: center;
    justify-content: center;
    display: flex;
    text-transform: capitalize;
  }
  & .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem 1rem 1rem;
    gap: 2rem;
    border: 0.4rem solid rgb(111, 61, 46);

    & .content-1 {
      padding-right: 1rem;
      background-color: transparent;
      border: 0.15rem solid #fff;

      & iframe {
        max-width: 30rem;
        height: 17rem;
        aspect-ratio: 16/9;
      }
    }
    & .content-2 {
      & h1 {
        text-align: left;
        padding-bottom: 2rem;
      }
      & .btn {
        width: 12rem;
        height: 3rem;
        background-color: rgb(111, 61, 46);
        border-radius: 0.5rem;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        align-items: center;
        & a {
          text-decoration: none;
        }
      }
    }
  }
}
/* ends yt playlist section */

/* start section videos */

.section-videos {
  /* height: 110vh; */
  padding: 5rem 7rem 8rem 7rem;
  background-color: rgb(43, 43, 43);

  & .video-nabvar {
    display: flex;
    padding-bottom: 2rem;
    gap: 20rem;
    & .content-1 {
      width: 60%;
      & p {
        font-size: 2rem;
      }
    }
    & .content-2 {
      & a {
        text-decoration: none;
        font-size: 1rem;
        word-spacing: 0.1rem;
        margin-top: 5rem;
      }
    }
  }
  & .container {
    display: flex;
    gap: 2rem;
    max-width: clamp(20rem, 95vw, 85rem);
    & .content-1 {
      max-width: 22rem;

      border-radius: 0.5rem;
      background-color: rgb(35, 35, 35);

      & a {
        text-decoration: none;
        /* padding: 1rem; */
        & iframe {
          padding: 1rem;
          height: 19rem;
          width: 22rem;
        }
        & h1 {
          font-size: 1rem;
          text-align: left;
          line-height: 1.4rem;
          padding: 1rem;
          text-transform: capitalize;
        }
        & p {
          font-size: 1rem;
          word-spacing: 0.2rem;
          /* padding: rem; */
          padding-left: 1rem;
          text-align: left;
          color: rgb(100, 100, 100);
          text-transform: capitalize;
        }
      }
    }
    & .content-2 {
      border-radius: 0.5rem;
      background-color: rgb(35, 35, 35);
      max-width: 22rem;

      & a {
        text-decoration: none;
        /* padding: 1rem; */
        & iframe {
          padding: 1rem;
          height: 19rem;
          width: 22rem;
        }
        & h1 {
          font-size: 1rem;
          text-align: left;
          line-height: 1.4rem;
          padding: 1rem;
          text-transform: capitalize;
        }
        & p {
          font-size: 1rem;
          word-spacing: 0.2rem;
          /* padding: rem; */
          padding-left: 1rem;
          text-align: left;
          color: rgb(100, 100, 100);
          text-transform: capitalize;
        }
      }
    }
    & .content-3 {
      width: 22rem;

      border-radius: 0.5rem;
      background-color: rgb(35, 35, 35);
      & a {
        text-decoration: none;
        /* padding: 1rem; */
        & iframe {
          padding: 1rem;
          height: 19rem;
          width: 22rem;
        }
        & h1 {
          font-size: 1rem;
          text-align: left;
          line-height: 1.4rem;
          padding: 1rem;
          text-transform: capitalize;
        }
        & p {
          font-size: 1rem;
          word-spacing: 0.2rem;
          /* padding: rem; */
          padding-left: 1rem;
          text-align: left;
          color: rgb(100, 100, 100);
          text-transform: capitalize;
        }
      }
    }
  }
}

/* ends section-videos seciton */

/* starts section project */

.section-project {
  padding: 5rem 7rem 5rem 7rem;
  background-color: rgb(35, 35, 35);

  & .project-nabvar {
    display: flex;
    padding-bottom: 4rem;
    gap: 20rem;

    & .content-1 {
      width: 60%;
      & p {
        font-size: 2rem;
      }
    }
    & .content-2 {
      & a {
        text-decoration: none;
        font-size: 1rem;
        word-spacing: 0.1rem;
        margin-top: 5rem;
      }
    }
  }
  & .container {
    display: flex;
    /* height: 60vh; */
    /* width: 80vw; */
    border-radius: 0.5rem;
    gap: 2rem;

    background-color: rgb(43, 43, 43);
    & .content-1 {
      width: 33%;
      padding: 1.5rem;
      & img {
        width: auto;
        border-radius: 0.5rem;
      }
    }
    & .content-2 {
      width: 45%;
      padding-top: 4rem;
      & h1 {
        text-align: left;
        font-size: 1rem;
        word-spacing: 0.2rem;
      }
      & p {
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: rgb(100, 100, 100);
        padding-bottom: 2.5rem;
      }
      & .btn {
        display: flex;
        gap: 1.5rem;
        & .btn1 {
          width: 10rem;
          height: 3rem;
          background-color: rgb(25, 93, 81);
          justify-content: center;
          display: flex;
          align-items: center;
          border-radius: 0.3rem;
          & a {
            text-decoration: none;
            font-size: 1.2rem;
            text-transform: capitalize;
          }
        }
        & .btn2 {
          width: 6.5rem;
          height: 3rem;
          background-color: rgb(25, 93, 81);
          justify-content: center;
          display: flex;
          align-items: center;
          border-radius: 0.3rem;
          & a {
            text-decoration: none;
            font-size: 1.2rem;
            text-transform: capitalize;
          }
        }
      }
    }
    & .content-3 {
      width: 10%;
      padding-top: 6rem;
      color: #fff;
      font-size: 1.2rem;
      line-height: 3rem;
    }
  }
}

/* ends project seciton */

/* start codest-section section */
.codest-section {
  padding: 5rem 7rem 0rem 7rem;
  background-color: rgb(43, 43, 43);
  & .container {
    /* height: 80vh; */
    border-radius: 0.5rem;
    background-color: rgb(35, 35, 35);
    display: flex;
    padding: 0rem 7rem 0rem 5rem;
    gap: 10rem;
    & .content-1 {
      width: 60%;
      padding-top: 5rem;
      & h1 {
        text-align: left;
        font-size: 2.5rem;
        padding-bottom: 2rem;
      }
      & p {
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding-bottom: 3rem;
      }
      & .btn {
        display: flex;
        gap: 0.1rem;
        & .btn1 {
          width: 10rem;
          height: 3rem;
          background-color: rgb(25, 93, 81);
          margin-right: 1rem;
          gap: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          text-transform: capitalize;
          border-radius: 0.3rem;
          position: relative;
          & a {
            text-decoration: none;
          }
        }
        & .btn2 {
          width: 10rem;
          height: 3rem;
          background-color: rgb(25, 93, 81);
          margin-right: 1rem;
          gap: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          text-transform: capitalize;
          border-radius: 0.3rem;
          position: relative;
          & a {
            text-decoration: none;
          }
        }
      }
    }
    & .content-2 {
      column-gap: 3rem;

      & .ongoing {
        height: 50%;
        width: 20rem;
        height: 14rem;
        background-color: rgb(43, 43, 43);
        border-radius: 0.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        & h1 {
          font-size: 1.2rem;
          text-align: left;

          padding-top: 1.5rem;

          & .ongoing-event {
            width: 1rem;
            height: 1rem;
            background-color: green;
            margin-right: 1rem;
            border-radius: 50%;
            display: inline-block;
          }
        }
        & p1 {
          font-size: 1.3rem;
          color: #fff;

          text-align: left;
        }
        & h2 {
          font-size: 1rem;
          text-align: left;
          letter-spacing: 0.2rem;
          padding-bottom: 0.3rem;
        }
        & a {
          height: 2rem;
          width: 7rem;
          background-color: rgb(25, 93, 81);
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0.3rem;
        }
      }
      & .Upcoming {
        height: 50%;
        width: 20rem;
        height: 14rem;
        background-color: rgb(43, 43, 43);
        border-radius: 0.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        & h1 {
          font-size: 1.2rem;
          text-align: left;

          padding-top: 1.5rem;

          & .upcomeing-event {
            width: 1rem;
            height: 1rem;
            background-color: green;
            margin-right: 1rem;
            border-radius: 50%;
            display: inline-block;
          }
        }
        & p1 {
          font-size: 1.3rem;
          color: #fff;

          text-align: left;
        }
        & h2 {
          font-size: 1rem;
          text-align: left;
          letter-spacing: 0.2rem;
          padding-bottom: 0.3rem;
        }
        & a {
          height: 2rem;
          width: 7rem;
          background-color: rgb(25, 93, 81);
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0.3rem;
        }
      }
    }
  }
}

/* ends codest section */

/* start section testimonial  */

.section-testimonial {
  /* height: 105vh; */
  padding: 5rem 7rem 7rem 7rem;
  background-color: rgb(45, 45, 45);
  /* margin-top: 10rem; */
  background-image: linear-gradient(rgb(43, 43, 43) 50%, rgb(35, 35, 35) 50%);
  & .testimonial-nabvar {
    display: flex;
    padding-bottom: 4rem;
    gap: 20rem;

    & .content-1 {
      width: 60%;
      & p {
        font-size: 2rem;
      }
    }
    & .content-2 {
      & a {
        text-decoration: none;
        font-size: 1rem;
        word-spacing: 0.1rem;
        margin-top: 5rem;
      }
    }
  }
  & .container {
    display: flex;
    /* height: 200vh; */
    gap: 2rem;
    & .content-1 {
      width: 22rem;
      height: 60vh;
      background-color: rgb(50, 50, 50);
      border-radius: 0.5rem;
      & p {
        padding: 2rem 2rem 0rem 1rem;
        text-align: left;
        font-size: 1.2rem;
        word-spacing: 0.2rem;
        color: rgb(120, 120, 120);
      }
      & span {
        display: flex;
        & img {
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          padding: 1rem;
          margin-top: 2rem;
        }
        & .nabinrai {
          & h1 {
            font-size: 1rem;
            text-align: left;
            margin-top: 2.5rem;
            margin-bottom: -1.3rem;
          }
          & h2 {
            font-size: 1rem;
            margin-bottom: 20rem;
          }
        }
      }
    }
    & .content-2 {
      width: 22rem;
      height: 60vh;
      background-color: rgb(50, 50, 50);
      border-radius: 0.5rem;
      & p {
        padding: 2rem 2rem 0rem 1rem;
        text-align: left;
        font-size: 1.2rem;
        word-spacing: 0.2rem;
        color: rgb(120, 120, 120);
      }
      & span {
        display: flex;
        & img {
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          padding: 1rem;
          margin-top: 2rem;
        }
        & .babitpandey {
          & h1 {
            font-size: 1rem;
            text-align: left;
            margin-top: 2.5rem;
            margin-bottom: -1.3rem;
          }
          & h2 {
            font-size: 1rem;
            margin-bottom: 20rem;
          }
        }
      }
    }
    & .content-3 {
      width: 22rem;
      height: 60vh;
      background-color: rgb(50, 50, 50);
      border-radius: 0.5rem;
      & p {
        padding: 2rem 2rem 0rem 1rem;
        text-align: left;
        font-size: 1.2rem;
        word-spacing: 0.2rem;
        color: rgb(120, 120, 120);
      }
      & span {
        display: flex;

        & img {
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          padding: 1rem;
          margin-top: 2rem;
        }
        & .nishchalpun {
          & h1 {
            font-size: 1rem;
            text-align: left;
            margin-top: 2.5rem;
            margin-bottom: -1.3rem;
          }
          & h2 {
            font-size: 1rem;
            margin-bottom: 20rem;
          }
        }
      }
    }
  }
}

/* ends section testimonial */

/* starts contact us section */

.section-contact {
  /* height: 140vh; */
  padding: 5rem 7rem 0rem 7rem;
  background-image: linear-gradient(rgb(43, 43, 43) 50%, rgb(35, 35, 35) 50%);
  & .container {
    display: flex;
    gap: 2rem;
    & .content-1 {
      width: 47%;
      & h1 {
        text-align: left;
        font-size: 2.6rem;
        padding-bottom: 1rem;
      }
      & p1 {
        font-size: 1.3rem;
        line-height: 1.8rem;
      }
      & .contact-location {
        height: 15rem;
        width: 18rem;
        background-color: rgb(50, 50, 60);
        margin-top: 2rem;
        border-radius: 0.5rem;
        & .dark45 {
          color: rgb(120, 120, 120);
          padding: 1rem 1rem 0.2rem 1rem;
        }
        & P {
          padding: 0rem 1rem 1rem 1rem;
          font-size: 1.2rem;
        }
        & a {
          padding-left: 1rem;
          text-decoration: none;
        }
      }
    }
    & .content-2 {
      width: 30rem;

      border-radius: 0.5rem;
      background-color: rgb(50, 50, 50);
      padding: 4rem 1.5rem 3rem 1.5rem;
      & p {
        font-size: 1.5rem;
        padding-bottom: 1rem;
      }
      & .forms {
        display: flex;
        flex-direction: column;
        /* gap: 0.5rem; */
        /* padding: 1rem; */
        & .form {
          display: flex;
          flex-direction: column;
          /* margin-bottom: -2rem;
        } */
          & label {
            margin-bottom: -0.7rem;
            color: #fff;
            text-transform: capitalize;
          }
        }
        & .forms1 {
          & input {
            color: #fff;
            width: 100%;
            height: 10rem;
          }
          & label {
            margin-bottom: 0.7rem;
            color: #fff;
            text-transform: capitalize;
          }
        }
      }
      & .btn {
        margin-top: 2rem;
        padding-left: 2rem;
        width: 13rem;
        height: 3rem;
        background-color: rgb(25, 93, 81);
        border-radius: 0.3rem;
        & a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          font-size: 1.3rem;
          text-transform: capitalize;
          word-spacing: 0.3rem;
          padding-top: 0.7rem;
        }
      }
    }
  }
}

/* ends contact us something */

/* start footer-section  */

.footer-section {
  padding: 5rem 7rem 0rem 7rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(35, 35, 35);
  & .content-1 {
    display: flex;
    justify-content: space-between;
    & .logo1 {
      word-spacing: 0.3rem;
      font-size: 1.2rem;
    }
    & .logo2 ul {
      display: flex;
      gap: 2rem;
      padding-bottom: 2.5rem;
      & a {
        text-decoration: none;
        color: rgb(120, 120, 120);
        font-size: 1.2rem;
        text-transform: capitalize;
      }
    }
  }
  & .content-2 {
    display: flex;
    justify-content: space-between;
    & .logo1 {
      word-spacing: 0.3rem;
      font-size: 1.2rem;
    }
    & .logo2 ul {
      display: flex;
      gap: 2rem;
      padding-bottom: 2.5rem;
      & a {
        text-decoration: none;
        color: rgb(120, 120, 120);
        font-size: 1.2rem;
        text-transform: capitalize;
      }
    }
  }
}

/* ends footer section */

/* start media quary */
@media (width <=900px) {
  .section-nabvar {
    & .container {
      display: flex;
      flex-direction: column;
      & .content-1 {
        margin-right: 5rem;
        & .content-navbar1 {
          width: 70%;
          padding-right: 1rem;
        }
        & .content-navbar2 {
          padding-left: 2rem;
          & p {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  .section-see-your-work {
    & .grid-two--cols {
      grid-template-columns: repeat(1, 1fr);
      padding: 0rem 3rem 0rem 1.5rem;
      margin-bottom: -7rem;
      & .container {
        & .btn {
          display: flex;
          flex-direction: column;
          & .btn1 {
            width: 100%;
          }
          & .btn2 {
            width: 100%;
          }
        }
      }
      & .img {
        /* margin: -3rem 3rem 3rem 3rem; */
        /* display: flex; */
        justify-content: center;
        align-items: center;
        margin-bottom: 10rem;
        & p {
          padding-left: 10rem;
          margin-top: -15rem;
        }
        & .hero-img {
          width: 60%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: -3rem;
        }
      }
      & .nabvar-social ul {
        padding: 0;
        margin: 0;
        margin-left: -5rem;
        gap: 7rem;
      }
    }
  }
  .section-about {
    padding: 0;
    & .container {
      padding: 0rem 3rem 1rem 1.5rem;
      gap: 1rem;
      & .content-1 {
        width: 70%;
      }
    }
  }

  .section-services {
    padding-bottom: 3rem;
    & .container {
      padding: 0rem 3rem 3rem 1.5rem;
      & .content-2 {
        & h2 {
          font-size: 1.5rem;
        }
      }
    }
    & .section-about-nabvar {
      padding: 1rem 3rem 1rem 1.5rem;
      & ul {
        gap: 1.5rem;
        & li {
          font-size: 1rem;
        }
      }
    }
  }
  .section-services-counter {
    padding: 3rem 3rem 3rem 1.5rem;
    .container {
      & .section-servises-nabvar ul {
        gap: 6rem;
      }
    }
  }
  .section-learn {
    padding: 3rem 1rem 3rem 1.5rem;
    & .container {
      padding: 3rem 1rem 1rem 1.5rem;
      gap: 0;
      & .content-1 {
        width: 80%;
      }
    }
  }
  .section-yt-playlist {
    padding: 3rem 1rem 1rem 1.5rem;
    & .container {
      display: flex;
      flex-direction: column;
      & .content-1 {
        position: 1;
        /* width: 80%; */
      }
      & .content-2 {
        padding: 0rem 2rem 0rem 2rem;
      }
    }
  }
}

@media (width <=998px) {
  .section-learn {
    & .container {
      padding: 3rem 1rem 1rem 1.5rem;
      & .content-1 .btn {
        margin-bottom: 2rem;
      }
    }
  }
  /* .section-yt-playlist {
    & .container {
      & .content-1 {
        & iframe {
          width: 100%;
        }
      }
    }
  } */
}
@media (width <=1100px) {
  .section-about {
    padding: 3rem 1rem 1rem 1.5rem;
    & .container {
      padding: 3rem 1rem 1rem 1.5rem;
    }
  }
  .section-services {
    & .section-about-nabvar {
      padding-bottom: 2rem;
      & ul {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  .section-services-counter .container {
    & .section-servises-nabvar ul {
      gap: 5rem;
    }
  }
  .section-learn {
    & .container {
      padding: 3rem 1rem 1rem 1.5rem;
      & .content-1 {
        width: 70%;
      }
    }
  }
  .section-project {
    & .container {
      display: flex;
      flex-direction: column;
      padding: 5rem 7rem 0rem 7rem;
      & .content-3 {
        width: 100%;
        padding: 3rem 3rem 3rem 0rem;
        & ul {
          gap: 4rem;
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
  .codest-section {
    & .container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
  .section-testimonial {
    & .container {
      display: flex;
      flex-direction: column;
      padding: 5rem 7rem 7rem 7rem;
    }
  }
  .section-contact {
    & .container {
      display: flex;
      flex-direction: column;
    }
  }
  .footer-section {
    display: flex;
    flex-direction: column;
    & .content-1 {
      display: flex;
      flex-direction: column;
      & .logo2 {
        display: flex;
        flex-direction: column;
      }
    }
    & .content-2 {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (width <=1250px) {
  .section-videos {
    & .container {
      display: flex;
      flex-wrap: wrap;
      flex-wrap: no wrap;
      padding: 3rem 10rem 1rem 5rem;
    }
  }
}
/* ends media quary */
